VirtualWallet/SampleData/WalletsSampleDataSource/WalletsSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.WalletsSampleDataSource" targetNamespace="Blend.SampleData.WalletsSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WalletsSampleDataSource" type="tns:WalletsSampleDataSource" />
  <xs:complexType name="WalletsSampleDataSource">
    <xs:sequence>
      <xs:element name="Wallets" type="tns:Wallets" />
      <xs:element name="Banks" type="tns:Banks" />
      <xs:element name="Categories" type="tns:Categories" />
      <xs:element name="Category" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Wallets">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="WalletsItem" type="tns:WalletsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WalletsItem">
    <xs:sequence>
      <xs:element name="Icon" type="tns:Icon" />
    </xs:sequence>
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Icon">
    <xs:attribute blend:FormatParameters="1" name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute name="Path" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Banks">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="BanksItem" type="tns:BanksItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BanksItem">
    <xs:sequence>
      <xs:element name="Icon" type="tns:Icon1" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="1" name="Id" type="xs:double" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Icon1">
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Path" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CategoriesItem" type="tns:CategoriesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoriesItem">
    <xs:attribute blend:FormatParameters="1" name="Id" type="xs:double" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element name="Wallets" type="tns:Wallets1" />
      <xs:element name="Image" type="tns:Image" />
      <xs:element name="Rules" type="tns:Rules" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="1" name="Id" type="xs:double" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ImageUri" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Wallets1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="WalletsItem1" type="tns:WalletsItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WalletsItem1">
    <xs:attribute blend:FormatParameters="1" name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute name="ImageUri" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Image">
    <xs:attribute name="Path" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Rules">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="RulesItem" type="tns:RulesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RulesItem">
    <xs:attribute blend:FormatParameters="2" name="Id" type="xs:double" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
    <xs:attribute name="Pattern" type="xs:string" />
  </xs:complexType>
</xs:schema>